.collaborativeImageWrapper {
  background: url(../../img/collaborative/collaborative.png);
  /* background-position-x: right 145px;
  background-position-y: center; */
  background-position: right 145px center;
  background-repeat: no-repeat;
  background-size: 542px 452px;
}
