@import-normalize;
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section.colored-section {
  background: linear-gradient(
    179.59deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
}

button.centered-btn {
  display: block;
  margin: 0 auto;
}
